<a href="/buddy/">home</a><br><br>
<img src="{{ var_album.album_logo }}">

<h1>{{ var_album.album_title }}</h1>
<div><h2>{{ var_album.artist }}</h2></div>

{% if errr_message %}
    <p><strong>{{ errr_message }}</strong></p>
{% endif %}

<form action="{% url 'buddy:favorites' var_artist var_album.id %}" method="post">
    {% csrf_token %}
    {% for s in var_album.song_set.all %}
        <input type="checkbox" id="s{{ forloop.counter }}" name="da song" value="{{ s.id }}" />
        <label for="s{{ forloop.counter }}" >
            {{ s.song_title }}
            {% if s.is_favorite %}
                <img src="http://i.imgur.com/b9b13Rd.png" />
            {% endif %}
        </label><br>
    {% endfor %}
    <input type="submit" value="buddy's favorite songs"/>
</form>
